/*home外层组件开始*/
.homePage{
    height: calc(100% - 4.5rem);
    background: url(../img/mmexport1505715388869.jpg) no-repeat center center;
    background-size: cover;
}
/*home外层组件结束*/


/*首页header部分开始*/
.homeHeader {
    width: 100%;
    height: 4.5rem;
    background-color: rgba(0,0,0,0.1);
    padding: 1rem;
    text-align: center;
    position: relative;
}
.priorDay {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #fff;
    margin-bottom: 5px;
}
.timeToPriorDay {
    line-height: 1rem;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 0;
}
.menuBtn {
    font-size: 0.8rem;
    color: #fff;
    position: absolute;
    right: 2rem;
    top: 50%;
    margin-top: -0.4rem;
}
/*首页header部分结束*/

/*首页TODO组件*/
.todo {
	margin-top: 2rem;
	text-align: center;
	font-size: 3rem;
	color: rgba(255, 255, 255, 0.7);
}
.todo input {
  display: block;
  padding: 0;
	border: 0;
	border-bottom:2px solid rgba(255, 255, 255, 0.7);
  width: 16rem;
  margin: 0 auto;
  background-color: transparent;
}
/*TODO组件结束*/


/*首页tag组件开始*/
.lovetag {
  position: absolute;
  bottom: 5.5rem;
  height: 4rem;
  background-color: #ffffff;
  width: 95%;
  left: 2.5%;
  border-radius: 10px;
  display: flex;
}
.left, .right {
  flex: 1;
  height: 4rem;
  /*line-height: 4rem;*/
}
.right {
  text-align: right;
}
.face {
  float: left;
  background: url(../img/mmexport1505715388869.jpg) no-repeat center center;
  background-size: cover;
  margin: 0.75rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.basicInfo {
  float: left;
  height: 4rem;
  line-height: 2rem;
}
.nickName {
  font-size: 2.4rem;
  color: rgba(52,214,206,0.85);
}
.currentFocus {
  font-size: 2rem;
}
/*首页tag组件结束*/
